<%= form_for recipe do |f|%>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>
  <%= f.label :recipe.ingredients %>
  <%= f.text_field :recipe.ingredients %>
</p>
  <%= f.submit %>
<% end %>
